### 11. Python Tuples

In [ ]:
mytuple = ("apple", "banana", "cherry")b

**Tuple**

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and **unchangeable**.

Tuples are written with round brackets.

**Example**

Create a Tuple:

```Python    
thistuple = ("apple", "banana", "cherry")
print(thistuple)
```

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

**Tuple Items**

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

**Ordered**

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

**Unchangeable**

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

**Allow Duplicates**

Since tuples are indexed, they can have items with the same value:

**Example**

Tuples allow duplicate values:

```Python    
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
```

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

**Tuple Length**

To determine how many items a tuple has, use the **len()** function:

**Example**

Print the number of items in the tuple:

```Python    
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))
```

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

**Create Tuple With One Item**

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

**Example**

One item tuple, remember the comma:

```Python    
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))
```

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

**Tuple Items - Data Types**

Tuple items can be of any data type:

**Example**

String, int and boolean data types:

```Python    
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
```

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
# A tuple can contain different data types:

# Example
# A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")

**type()**

From Python's perspective, tuples are defined as objects with the data type 'tuple':

```Python
<class 'tuple'>
```

In [ ]:
# What is the data type of a tuple?

mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

**The tuple() Constructor**

It is also possible to use the **tuple()** constructor to make a tuple.

**Example**

Using the **tuple()** method to make a tuple:

```Python    
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)
```

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

**Python Collections (Arrays)**

There are four collection data types in the Python programming language:

* **List** is a collection which is ordered and changeable. Allows duplicate members.
* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
* **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
* **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

* Set items are unchangeable, but you can remove and/or add items whenever you like.

* As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

#### Python - Access Tuple Items

**Access Tuple Items**

You can access tuple items by referring to the index number, inside square brackets:

**Example**

Print the second item in the tuple:

```Python    
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
```

* Note: The first item has index 0.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

**Negative Indexing**

Negative indexing means start from the end.

**-1** refers to the last item, **-2** refers to the second last item etc.

**Example**

Print the last item of the tuple:

```Python    
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])
```

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

**Range of Indexes**

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

**Example**

Return the third, fourth, and fifth item:

```Python    
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])
```

Note: The search will start at index 2 (included) and end at index 5 (not included).

Remember that the first item has index 0.

By leaving out the start value, the range will start at the first item:

**Example**

This example returns the items from the beginning to, but NOT included, "kiwi":

```Python    
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])
```

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

By leaving out the end value, the range will go on to the end of the list:

**Example**

This example returns the items from "cherry" and to the end:

```Python    
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])
```

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

**Range of Negative Indexes**

Specify negative indexes if you want to start the search from the end of the tuple:

**Example**

This example returns the items from index -4 (included) to index -1 (excluded)

```Python
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])
```

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

**Check if Item Exists**

To determine if a specified item is present in a tuple use the in keyword:

**Example**

Check if "apple" is present in the tuple:

```Python    
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")
```

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

**Change Tuple Values**

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

**Example**

Convert the tuple into a list to be able to change it:

```Python    
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)
```

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

**Add Items**

Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

**Example**

Convert the tuple into a list, add "orange", and convert it back into a tuple:

```Python    
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
```

2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

**Example**

Create a new tuple with the value "orange", and add that tuple:

```Python    
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)
```

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

**Remove Items**

Note: You cannot remove items in a tuple.

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

**Example**

Convert the tuple into a list, remove "apple", and convert it back into a tuple:

```Python    
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
```

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

**Example**

The **del** keyword can delete the tuple completely:

```Python    
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists
```

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

#### Python - Unpack Tuples

**Unpacking a Tuple**

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

**Example**

Packing a tuple:

```Python    
fruits = ("apple", "banana", "cherry")
```

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

**Example**

Unpacking a tuple:

```Python    
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)
```

* Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

**Using Asterisk\***

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

**Example**

Assign the rest of the values as a list called "red":

```Python    
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)
```

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

**Example**

Add a list of values the "tropic" variable:

```Python    
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)
```

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

#### Python - Loop Tuples

**Loop Through a Tuple**

You can loop through the tuple items by using a for loop.

**Example**

Iterate through the items and print the values:

```Python    
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)
```

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

**Loop Through the Index Numbers**

You can also loop through the tuple items by referring to their index number.

Use the **range()** and **len()** functions to create a suitable iterable.

**Example**

Print all items by referring to their index number:

```Python    
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])
```

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

**Using a While Loop**

You can loop through the list items by using a while loop.

Use the **len()** function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

**Example**

Print all items, using a while loop to go through all the index numbers:

```Python    
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1
```

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

#### Python - Join Tuples

**Join Two Tuples**

To join two or more tuples you can use the + operator:

**Example**

Join two tuples:

```Python    
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)
```

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

**Multiply Tuples**

If you want to multiply the content of a tuple a given number of times, you can use the * operator:

**Example**

Multiply the fruits tuple by 2:

```Python    
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)
```

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

#### Python - Tuple Methods

**Tuple Methods**

Python has two built-in methods that you can use on tuples.

|Method|Description|
|:----------|:--------------------------------------------------------------------------------------------|
|**count()**|Returns the number of times a specified value occurs in a tuple|
|**index()**|Searches the tuple for a specified value and returns the position of where it was found|

### 12. Python Sets

#### Python Sets

In [ ]:
myset = {"apple", "banana", "cherry"}

**Set**

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is **unordered, unchangeable*, and unindexed**.

* Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

**Example**

Create a Set:

```Python    
thisset = {"apple", "banana", "cherry"}
print(thisset)
```

* Note: Sets are unordered, so you cannot be sure in which order the items will appear.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

**Set Items**

Set items are unordered, unchangeable, and do not allow duplicate values.

**Unordered**

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

**Unchangeable**

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

**Duplicates Not Allowed**

Sets cannot have two items with the same value.

**Example**

Duplicate values will be ignored:

```Python    
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)
```

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

Get the Length of a Set

To determine how many items a set has, use the len() function.

**Example**

Get the number of items in a set:

```Python    
thisset = {"apple", "banana", "cherry"}

print(len(thisset))
```

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

**Set Items - Data Types**

Set items can be of any data type:

**Example**

String, int and boolean data types:

```Python    
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
```

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [ ]:
# A set can contain different data types:

# Example
# A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}

**type()**

From Python's perspective, sets are defined as objects with the data type 'set':

```Python
<class 'set'>
```

**Example**

What is the data type of a set?

```Python
myset = {"apple", "banana", "cherry"}
print(type(myset))
```

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

**The set() Constructor**

It is also possible to use the set() constructor to make a set.

**Example**

Using the set() constructor to make a set:

```Python    
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)
```

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

**Python Collections (Arrays)**

There are four collection data types in the Python programming language:

* **List** is a collection which is ordered and changeable. Allows duplicate members.
* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
* **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
* **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

\* Set items are unchangeable, but you can remove items and add new items.

\* As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

#### Python - Access Set Items

**Access Items**

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

**Example**

Loop through the set, and print the values:

```Python    
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)
```

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

In [ ]:
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

Change Items
Once a set is created, you cannot change its items, but you can add new items.

#### Python - Add Set Items

**Add Items**

Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the **add()** method.

**Example**

Add an item to a set, using the add() method:

```Python    
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)
```

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

**Add Sets**

To add items from another set into the current set, use the update() method.

**Example**

Add elements from tropical into thisset:

```Python    
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)
```

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

**Add Any Iterable**

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

**Example**

Add elements of a list to at set:

```Python    
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)
```

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

#### Python - Remove Set Items

**Remove Item**

To remove an item in a set, use the **remove()**, or the **discard()** method.

**Example**

Remove "banana" by using the **remove()** method:
    
```Python
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)
```

* Note: If the item to remove does not exist, remove() will raise an error.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

Remove "banana" by using the discard() method:

```Python    
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)
```

* Note: If the item to remove does not exist, discard() will NOT raise an error.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

In [ ]:
You can also use the **pop()** method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the **pop()** method is the removed item.

**Example**

Remove the last item by using the **pop()** method:

```Python    
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)
```

* Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

In [ ]:
# The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

In [ ]:
# The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

#### Python - Loop Sets

**Loop Items**

You can loop through the set items by using a for loop:

**Example**

Loop through the set, and print the values:

```Python    
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)
```

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

#### Python - Join Sets

**Join Two Sets**

There are several ways to join two or more sets in Python.

You can use the **union()** method that returns a new set containing all items from both sets, or the **update()** method that inserts all the items from one set into another:

**Example**

The union() method returns a new set with all items from both sets:

```Python    
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)
```

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
# The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

# Note: Both union() and update() will exclude any duplicate items.

**Keep ONLY the Duplicates**

The **intersection_update()** method will keep only the items that are present in both sets.

**Example**

Keep the items that exist in both set x, and set y:

```Python    
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)
```

* The intersection() method will return a new set, that only contains the items that are present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

In [ ]:
# Return a set that contains the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

**Keep All, But NOT the Duplicates**

The **symmetric_difference_update()** method will keep only the elements that are NOT present in both sets.

**Example**

Keep the items that are not present in both sets:

```Python    
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)
```

* The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

In [ ]:
# Return a set that contains all items from both sets, except items that are present in both:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

#### Python - Set Methods

In [ ]:
**Set Methods**

Python has a set of built-in methods that you can use on sets.

|Method|Description|
|:----------|:--------------------------------------------------------------------------------------------|
|**add()**|Adds an element to the set|
|**clear()**|Removes all the elements from the set|
|**copy()**|Returns a copy of the set|
|**difference()**|Returns a set containing the difference between two or more sets|
|**difference_update()**|Removes the items in this set that are also included in another, specified set|
|**discard()**|Remove the specified item|
|**intersection()**|Returns a set, that is the intersection of two other sets|
|**intersection_update()**|Removes the items in this set that are not present in other, specified set(s)|
|**isdisjoint()**|Returns whether two sets have a intersection or not|
|**issubset()**|Returns whether another set contains this set or not|
|**issuperset()**|Returns whether this set contains another set or not|
|**pop()**|Removes an element from the set|
|**remove()**|Removes the specified element|
|**symmetric_difference()**|Returns a set with the symmetric differences of two sets|
|**symmetric_difference_update()**|inserts the symmetric differences from this set and another|
|**union()**|Return a set containing the union of sets|
|**update()**|Update the set with the union of this set and others|

### 13. Python Dictionaries

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

**Dictionary**

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Dictionaries are written with curly brackets, and have keys and values:

**Example**

Create and print a dictionary:

```Python    
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
```

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

**Dictionary Items**

Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

**Example**

Print the "brand" value of the dictionary:

```Python    
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])
```

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

**Ordered or Unordered?**

As of Python version 3.7, dictionaries are **ordered**. In Python 3.6 and earlier, dictionaries are unordered.

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

**Unordered** means that the items does not have a defined order, you cannot refer to an item by using an index.

**Changeable**

Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

**Duplicates Not Allowed**

Dictionaries cannot have two items with the same key:

**Example**

Duplicate values will overwrite existing values:

```Python    
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)
```

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

**Dictionary Length**

To determine how many items a dictionary has, use the len() function:

**Example**

Print the number of items in the dictionary:

> **print(len(thisdict))**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(len(thisdict))

**Dictionary Items - Data Types**

The values in dictionary items can be of any data type:

**Example**

String, int, boolean, and list data types:

```Python    
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
```

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)

**type()**

From Python's perspective, dictionaries are defined as objects with the data type 'dict':

```Python
<class 'dict'>
```

**Example**

Print the data type of a dictionary:

```Python    
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))
```

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

**Python Collections (Arrays)**

There are four collection data types in the Python programming language:

* **List** is a collection which is ordered and changeable. Allows duplicate members.
* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
* **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
* **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

\*Set items are unchangeable, but you can remove and/or add items whenever you like.

\**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

#### Python - Access Dictionary Items

**Accessing Items**

You can access the items of a dictionary by referring to its key name, inside square brackets:

**Example**

Get the value of the "model" key:

```Python    
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
```

There is also a method called get() that will give you the same result:

**Example**

Get the value of the "model" key:

> **x = thisdict.get("model")**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

**Get Keys**

The **keys()** method will return a list of all the keys in the dictionary.

**Example**

Get a list of the keys:

```Python    
x = thisdict.keys()
```

The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.keys()

print(x)

In [ ]:
# Add a new item to the original dictionary, and see that the keys list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x)      #before the change

car["color"] = "white"

print(x)      #after the change

**Get Values**

The **values()** method will return a list of all the values in the dictionary.

**Example**

Get a list of the values:

```Python    
x = thisdict.values()
```

The list of the values is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the values list.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.values()

print(x)

In [ ]:
# Make a change in the original dictionary, and see that the values list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x)     # before the change

car["year"] = 2020

print(x)     # after the change

In [ ]:
# Add a new item to the original dictionary, and see that the values list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x)     # before the change

car["color"] = "red"

print(x)     # after the change

**Get Items**

The **items()** method will return each item in a dictionary, as tuples in a list.

**Example**

Get a list of the key:value pairs

```Python    
x = thisdict.items()
```

The returned list is a view of the items of the dictionary, meaning that any changes done to the dictionary will be reflected in the items list.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.items()

print(x)

In [ ]:
# Make a change in the original dictionary, and see that the items list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x)      # before the change

car["year"] = 2020

print(x)     # after the change

In [ ]:
# Add a new item to the original dictionary, and see that the items list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x)     # before the change

car["color"] = "red"

print(x)     # after the change

**Check if Key Exists**

To determine if a specified key is present in a dictionary use the in keyword:

**Example**

Check if "model" is present in the dictionary:

```Python    
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")
```

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

#### Python - Change Dictionary Items

**Change Values**

You can change the value of a specific item by referring to its key name:

**Example**

Change the "year" to 2018:

```Python    
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
```

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

**Update Dictionary**

The **update()** method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

**Example**

Update the "year" of the car by using the **update()** method:

```Python    
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
```

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

#### Python - Add Dictionary Items

**Adding Items**

Adding an item to the dictionary is done by using a new index key and assigning a value to it:

**Example**

```Python
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)
```

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

**Update Dictionary**

The **update()** method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

The argument must be a dictionary, or an iterable object with key:value pairs.

**Example**

Add a color item to the dictionary by using the **update()** method:

```Python    
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
```

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

#### Python - Remove Dictionary Items

**Removing Items**

There are several methods to remove items from a dictionary:

**Example**

The **pop()** method removes the item with the specified key name:

```Python    
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)
```

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

In [ ]:
# The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

In [ ]:
# The del keyword removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

del thisdict["model"]

print(thisdict)

In [ ]:
# The del keyword can also delete the dictionary completely:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

del thisdict

print(thisdict) #this will cause an error because "thisdict" no longer exists.

In [ ]:
# The clear() method empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict.clear()

print(thisdict)

#### Python - Loop Dictionaries

**Loop Through a Dictionary**

You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

**Example**

Print all key names in the dictionary, one by one:

```Python    
for x in thisdict:
    print(x)
```

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict:
    print(x)

In [ ]:
# Print all values in the dictionary, one by one:

for x in thisdict:
    print(thisdict[x])

In [ ]:
# You can also use the values() method to return values of a dictionary:

for x in thisdict.values():
    print(x)

In [ ]:
# You can use the keys() method to return the keys of a dictionary:

for x in thisdict.keys():
    print(x)

In [ ]:
# Loop through both keys and values, by using the items() method:

for x, y in thisdict.items():
    print(x, y)

#### Python - Copy Dictionaries

**Copy a Dictionary**

You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method **copy()**.

**Example**

Make a copy of a dictionary with the **copy()** method:

```Python    
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

mydict = thisdict.copy()

print(mydict)
```

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

mydict = thisdict.copy()

print(mydict)

Another way to make a copy is to use the built-in function **dict()**.

**Example**

Make a copy of a dictionary with the **dict()** function:

```Python    
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

mydict = dict(thisdict)

print(mydict)
```

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

mydict = dict(thisdict)

print(mydict)

#### Python - Nested Dictionaries

**Nested Dictionaries**

A dictionary can contain dictionaries, this is called nested dictionaries.

**Example**

Create a dictionary that contain three dictionaries:

```Python    
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
```

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

or, if you want to add three dictionaries into a new dictionary:

**Example**

Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

```Python    
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
```

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

#### Python Dictionary Methods

**Dictionary Methods**

Python has a set of built-in methods that you can use on dictionaries.

|Method|Description|
|:------------|:---------------------------------------------------------------------------------------------------------------|
|**clear()**|Removes all the elements from the dictionary|
|**copy()**|Returns a copy of the dictionary|
|**fromkeys()**|Returns a dictionary with the specified keys and value|
|**get()**|Returns the value of the specified key|
|**items()**|Returns a list containing a tuple for each key value pair|
|**keys()**|Returns a list containing the dictionary's keys|
|**pop()**|Removes the element with the specified key|
|**popitem()**|Removes the last inserted key-value pair|
|**setdefault()**|Returns the value of the specified key. If the key does not exist: insert the key, with the specified value|
|**update()**|Updates the dictionary with the specified key-value pairs|
|**values()**|Returns a list of all the values in the dictionary|

### 14. Python If...Else

**Python Conditions and If statements**

Python supports the usual logical conditions from mathematics:

* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b
    
These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

**Example**

If statement:

```Python    
a = 33
b = 200
if b > a:
    print("b is greater than a")
```

In this example we use two variables, a and b, which are used as part of the if statement to test whether b is greater than a. As a is 33, and b is 200, we know that 200 is greater than 33, and so we print to screen that "b is greater than a".

In [ ]:
a = 33
b = 200

if b > a:
    print("b is greater than a")

**Indentation**

Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

**Example**

If statement, without indentation (will raise an error):

```Python    
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error
```

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

**Elif**

The **elif** keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

**Example**

```Python
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
```    

In this example a is equal to b, so the first condition is not true, but the elif condition is true, so we print to screen that "a and b are equal".

In [ ]:
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

**Else**

The **else** keyword catches anything which isn't caught by the preceding conditions.

**Example**

```Python
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")
```

In this example a is greater than b, so the first condition is not true, also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".

In [ ]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

In [ ]:
# You can also have an else without the elif:

# Example
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

**Short Hand If**

If you have only one statement to execute, you can put it on the same line as the if statement.

**Example**

One line if statement:

```Python    
if a > b: print("a is greater than b")
```

In [ ]:
a = 200
b = 33

if a > b: print("a is greater than b")

**Short Hand If ... Else**

If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

**Example**

One line if else statement:

```Python    
a = 2
b = 330

print("A") if a > b else print("B")
```
This technique is known as Ternary Operators, or Conditional Expressions.

In [ ]:
a = 2
b = 330

print("A") if a > b else print("B")

In [ ]:
# You can also have multiple else statements on the same line:

# Example
# One line if else statement, with 3 conditions:

a = 330
b = 330

print("A") if a > b else print("=") if a == b else print("B")

**And**

The and keyword is a logical operator, and is used to combine conditional statements:

**Example**

Test if a is greater than b, AND if c is greater than a:

```Python    
a = 200
b = 33
c = 500

if a > b and c > a:
    print("Both conditions are True")
```

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

**Or**

The or keyword is a logical operator, and is used to combine conditional statements:

**Example**

Test if a is greater than b, OR if a is greater than c:

```Python    
a = 200
b = 33
c = 500

if a > b or a > c:
    print("At least one of the conditions is True")
```

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

**Nested If**

You can have if statements inside if statements, this is called nested if statements.

**Example**

```Python
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")
```

In [ ]:
x = 41

if x > 10:
    print("Above ten,")
    
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

**The pass Statement**

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

**Example**

```Python
a = 33
b = 200

if b > a:
    pass
```

In [ ]:
a = 33
b = 200

if b > a:
    pass

# having an empty if statement like this, would raise an error without the pass statement

### 15. Python WHile Loops

**Python Loops**

Python has two primitive loop commands:

* **while** loops
* **for** loops

**The while Loop**

With the **while** loop we can execute a set of statements as long as a condition is true.

**Example**

Print i as long as i is less than 6:

```Python    
i = 1
while i < 6:
    print(i)
    i += 1
```

Note: remember to increment i, or else the loop will continue forever.

The **while** loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1

**The break Statement**

With the break statement we can stop the loop even if the while condition is true:

**Example**

Exit the loop when i is 3:

```Python    
i = 1
while i < 6:
    print(i)
    
    if i == 3:
        break
    i += 1
```

In [ ]:
i = 1
while i < 6:
    print(i)
    
    if i == 3:
        break
    i += 1

**The continue Statement**

With the continue statement we can stop the current iteration, and continue with the next:

**Example**

Continue to the next iteration if i is 3:

```Python    
i = 0

while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)
```

In [ ]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

# Note that number 3 is missing in the result

**The else Statement**

With the else statement we can run a block of code once when the condition no longer is true:

**Example**

Print a message once the condition is false:

```Python    
i = 1

while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")
```

In [ ]:
i = 1

while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

### 16. For Loops

**Python For Loops**

A **for** loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the **for** keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the **for** loop we can execute a set of statements, once for each item in a list, tuple, set etc.

**Example**

Print each fruit in a fruit list:

```Python    
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    print(x)
```

The for loop does not require an indexing variable to set beforehand.

In [ ]:
**Looping Through a String**

Even strings are iterable objects, they contain a sequence of characters:

**Example**

Loop through the letters in the word "banana":

```Python    
for x in "banana":
    print(x)
```

In [ ]:
for x in "banana":
    print(x)

**The break Statement**

With the break statement we can stop the loop before it has looped through all the items:

**Example**

Exit the loop when x is "banana":

```Python    
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    print(x)
    if x == "banana":
        break
```

In [ ]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    print(x)
    if x == "banana":
        break

In [ ]:
# Exit the loop when x is "banana", but this time the break comes before the print:

fruits = ["apple", "banana", "cherry"]

for x in fruits:
    if x == "banana":
        break
    print(x)

**The continue Statement**

With the continue statement we can stop the current iteration of the loop, and continue with the next:

**Example**

Do not print banana:

```Python    
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    if x == "banana":
        continue
    print(x)
```

In [ ]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    if x == "banana":
        continue
    print(x)

**The range() Function**

To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

**Example**

Using the range() function:

```Python    
for x in range(6):
    print(x)
```
Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

In [ ]:
for x in range(6):
    print(x)

In [ ]:
# The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

# Example
# Using the start parameter:

for x in range(2, 6):
    print(x)

In [ ]:
# The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

# Example
# Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
    print(x)

**Else in For Loop**

The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

**Example**

Print all numbers from 0 to 5, and print a message when the loop has ended:

```Python    
for x in range(6):
    print(x)
else:
    print("Finally finished!")
```
    
Note: The else block will NOT be executed if the loop is stopped by a break statement.

In [ ]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

In [ ]:
# Break the loop when x is 3, and see what happens with the else block:

for x in range(6):
    if x == 3: break
    print(x)
else:
    print("Finally finished!")

# If the loop breaks, the else block is not executed.

In [ ]:
for x in range(6):
    if x == 3: 
        break
    print(x)
else:
    print("Finally finished!")

**Nested Loops**

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

**Example**

Print each adjective for every fruit:

```Python    
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)
```

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

**The pass Statement**

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

**Example**

```Python
for x in [0,m 1, 2]:
    pass
```

In [ ]:
for x in [0, 1, 2]:
    pass

# having an empty for loop like this, would raise an error without the pass statement

### 17. Python Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

**Creating a Function**

In Python a function is defined using the **def** keyword:

**Example**

```Python
def my_function():
    print("Hello from a function")
```

**Calling a Function**

To call a function, use the function name followed by parenthesis:

**Example**

```Python
def my_function():
    print("Hello from a function")

my_function()
```

In [ ]:
def my_function():
    print("Hello from a function")

my_function()

**Arguments**

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

**Example**

```Python
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")
```
Arguments are often shortened to args in Python documentations.

In [ ]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

**Parameters or Arguments?**

The terms parameter and argument can be used for the same thing: information that are passed into a function.

From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

**Number of Arguments**

By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

**Example**

This function expects 2 arguments, and gets 2 arguments:

```Python    
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil", "Refsnes")
```

In [ ]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil", "Refsnes")

If you try to call the function with 1 or 3 arguments, you will get an error:

**Example**

This function expects 2 arguments, but gets only 1:

```Python    
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil")
```

**Arbitrary Arguments, \*args**

If you do not know how many arguments that will be passed into your function, add a \* before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

**Example**

If the number of arguments is unknown, add a \* before the parameter name:

```Python    
def my_function(*kids):
    print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")
```

Arbitrary Arguments are often shortened to *args in Python documentations.

In [ ]:
def my_function(*kids):
    print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

**Keyword Arguments**

You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

**Example**

```Python
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")
```

The phrase Keyword Arguments are often shortened to kwargs in Python documentations.

In [ ]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

**Arbitrary Keyword Arguments, \*\*kwargs**

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: \*\* before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

**Example**

If the number of keyword arguments is unknown, add a double ** before the parameter name:

```Python    
def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")
```

Arbitrary Kword Arguments are often shortened to \*\*kwargs in Python documentations.

In [ ]:
def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

**Default Parameter Value**

The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

**Example**

```Python
def my_function(country = "Norway"):
    print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")
```

In [ ]:
def my_function(country = "Norway"):
    print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

**Passing a List as an Argument**

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

**Example**

```Python
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)
```

In [ ]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

**Return Values**

To let a function return a value, use the return statement:

**Example**

```Python
def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))
```

In [ ]:
def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

**The pass Statement**

function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

**Example**

```Python
def myfunction():
    pass
```

In [ ]:
def myfunction():
    pass

# having an empty function definition like this, would raise an error without the pass statement

In [ ]:
**Recursion**

Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

**Example**

Recursion Example

```Python
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)
```

In [ ]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

### 18. Python Lambda

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

Syntax
> **lambda arguments : expression**

The expression is executed and the result is returned:

**Example**
Add 10 to argument a, and return the result:

```Python
x = lambda a : a + 10
print(x(5))
```

In [ ]:
x = lambda a : a + 10
print(x(5))

In [12]:
# Lambda functions can take any number of arguments:

# Example
# Multiply argument a with argument b and return the result:

x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
# Summarize argument a, b, and c and return the result:

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

**Why Use Lambda Functions?**

The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

```Python    
def myfunc(n):
    return lambda a : a * n
```

Use that function definition to make a function that always doubles the number you send in:

**Example**

```Python
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))
```

In [ ]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

In [ ]:
def myfunc(a, n):
    return a * n

def mydoubler(a):
    return myfunc(a,  2)

print(mydoubler(11))

In [ ]:
# Or, use the same function definition to make a function that always triples the number you send in:

# Example

def myfunc(n):
    return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

In [ ]:
# Or, use the same function definition to make both functions, in the same program:

# Example

def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

# Use lambda functions when an anonymous function is required for a short period of time.

### 19. Arrays

Note: Python does not have built-in support for Arrays, but Python Lists can be used instead.

**Arrays**

Note: This page shows you how to use LISTS as ARRAYS, however, to work with arrays in Python you will have to import a library, like the NumPy library.

Arrays are used to store multiple values in one single variable:

**Example**

Create an array containing car names:

```Python    
cars = ["Ford", "Volvo", "BMW"]
```

**What is an Array?**

An array is a special variable, which can hold more than one value at a time.

If you have a list of items (a list of car names, for example), storing the cars in single variables could look like this:

```Python    
car1 = "Ford"
car2 = "Volvo"
car3 = "BMW"
```

However, what if you want to loop through the cars and find a specific one? And what if you had not 3 cars, but 300?

The solution is an array!

An array can hold many values under a single name, and you can access the values by referring to an index number.

**Access the Elements of an Array**

You refer to an array element by referring to the index number.

**Example**

Get the value of the first array item:

```Python
x = cars[0]
```

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

x = cars[0]

print(x)

Modify the value of the first array item:

```Python    
cars[0] = "Toyota"
```

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

cars[0] = "Toyota"

print(cars)

**The Length of an Array**

Use the **len()** method to return the length of an array (the number of elements in an array).

**Example**

Return the number of elements in the cars array:

```Python    
x = len(cars)
```

Note: The length of an array is always one more than the highest array index.

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

x = len(cars)

print(x)

**Looping Array Elements**

You can use the for in loop to loop through all the elements of an array.

**Example**

Print each item in the cars array:

```Python    
for x in cars:
    print(x)
```

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

for x in cars:
    print(x)

**Adding Array Elements**

You can use the **append()** method to add an element to an array.

**Example**

Add one more element to the cars array:

```Python    
cars.append("Honda")
```

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

cars.append("Honda")

print(cars)

**Removing Array Elements**

You can use the **pop()** method to remove an element from the array.

**Example**

Delete the second element of the cars array:

```Python    
cars.pop(1)
```

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

cars.pop(1)

print(cars)

You can also use the **remove()** method to remove an element from the array.

**Example**

Delete the element that has the value "Volvo":

```Python    
cars.remove("Volvo")
```

Note: The list's **remove()** method only removes the first occurrence of the specified value.

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

cars.remove("Volvo")

print(cars)

**Array Methods**

Python has a set of built-in methods that you can use on lists/arrays.

|Method|Description|
|:------------|:---------------------------------------------------------------------------------------------------------------|
|**append()**|Adds an element at the end of the list|
|**clear()**|Removes all the elements from the list|
|**copy()**|Returns a copy of the list|
|**count()**|Returns the number of elements with the specified value|
|**extend()**|Add the elements of a list (or any iterable), to the end of the current list|
|**index()**|Returns the index of the first element with the specified value|
|**insert()**|Adds an element at the specified position|
|**pop()**|Removes the element at the specified position|
|**remove()**|Removes the first item with the specified value|
|**reverse()**|Reverses the order of the list|
|**sort()**|Sorts the list|

Note: Python does not have built-in support for Arrays, but Python Lists can be used instead.

### 20. Python Classes/Object

Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

**Create a Class**

To create a class, use the keyword class:

**Example**

Create a class named MyClass, with a property named x:

```Python    
class MyClass:
    x = 5
```

In [ ]:
class MyClass:
    x = 5

print(MyClass)

**Create Object**

Now we can use the class named MyClass to create objects:

**Example**

Create an object named p1, and print the value of x:

```Python    
p1 = MyClass()
print(p1.x)
```

In [ ]:
class MyClass:
    x = 5

p1 = MyClass()
print(p1.x)

**The __init__() Function**

The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in **__init__()** function.

All classes have a function called **__init__()**, which is always executed when the class is being initiated.

Use the **__init__()** function to assign values to object properties, or other operations that are necessary to do when the object is being created:

**Example**

Create a class named Person, use the **__init__()** function to assign values for name and age:

```Python    
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)
```

Note: The __init__() function is called automatically every time the class is being used to create a new object.

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

**Object Methods**

Objects can also contain methods. Methods in objects are functions that belong to the object.

Let us create a method in the Person class:

**Example**

Insert a function that prints a greeting, and execute it on the p1 object:

```Python    
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()
```
Note: The self parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

In [ ]:
**The self Parameter**

The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

**Example**

Use the words mysillyobject and abc instead of self:

```Python    
class Person:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age

    def myfunc(abc):
        print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()
```

In [ ]:
class Person:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age

    def myfunc(abc):
        print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

**Modify Object Properties**

You can modify properties on objects like this:

**Example**

Set the age of p1 to 40:

```Python    
p1.age = 40
```

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("John", 36)

p1.age = 40

print(p1.age)

**Delete Object Properties**

You can delete properties on objects by using the del keyword:

**Example**

Delete the age property from the p1 object:

```Python    
del p1.age
```

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1.age

print(p1.age)

**Delete Objects**

You can delete objects by using the del keyword:

**Example**

Delete the p1 object:

```Python    
del p1
```

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1

print(p1)

**The pass Statement**

class definitions cannot be empty, but if you for some reason have a class definition with no content, put in the pass statement to avoid getting an error.

**Example**

```Python
class Person:
    pass
```

In [ ]:
class Person:
    pass

# having an empty class definition like this, would raise an error without the pass statement