## Python Tutorials
1.  Syntax
2. Comments
3. Variables
4. Data Types
5. Numbers
6. Csating
7. Strings
8. Boolean
9. Operators
10. Lists
11. Tuples
12. Sets
13. Dictionaries
14. If..Else
15. While Loops
16. For Loops
17. Functions
18. Lambda
19. Arrays
20. Classes/Objects
21. Inheritance
22. Iterators
23. Scope
24. Modules
25. Dates
26. Math
27. JSON
28. RegEx
29. PIP
30. Try...Except
31. User Input
32. String Formatting

### 1. Python Syntax

Python Syntax can be executed by writing directly in the command line:

> **print("Hello, World")**

or by creating a python file on the server, using the .py file extensiion, and running it in the command line:
    
> **C:\Users\Your Name>python myfile.py**

**Python Indentation**

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [1]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
# Try to run the following code to see what will happen.
if 5 > 2:
print("Five is greater than two!")

The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.
You have to use the same number of spaces in the same block of code, otherwise Python will give you an error.
Or you can use Tab

In [ ]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

**Python Variables**

In Python, variables are created when you assign a value to it.<br/>
Python has no command for declaring a variable.

In [ ]:
x = 5
y = "Hello, World!"

**Comments**

Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment:

In [ ]:
#This is a comment.
print("Hello, World!")

### 2. Python Comments

Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

In [ ]:
# Comments starts with a #, and Python will ignore them:
#This is a comment
print("Hello, World!")

In [ ]:
# Comments can be placed at the end of a line, and Python will ignore the rest of the line:
print("Hello, World!") #This is a comment

In [ ]:
# A comment does not have to be text that explains the code, it can also be used to prevent Python from executing code:
#print("Hello, World!")
print("Cheers, Mate!")

In [ ]:
# Multi Line Comments
# Python does not really have a syntax for multi line comments.

# To add a multiline comment you could insert a # for each line:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

In [ ]:
"""
Or, not quite as intended, you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, 
you can add a multiline string (triple quotes) in your code, and place your comment inside it:
"""

"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

### 3. Python Variables

Variables are containers for storing data values.

**Creating Variables**

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

**Casting**

If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

**Get the Type**

You can get the data type of a variable with the **type()** function.

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

**Single or Double Quotes?**

String variables can be declared either by using single or double quotes:

In [ ]:
x = "John"
# is the same as
x = 'John'

**Case-Sensitive**

Variable names are case-sensitive.

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

**Variable Names**

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

**Legal variable names:**

```Python
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"    
```

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

**Illegal variable names:**

```Python
2myvar = "John"
my-var = "John"
my var = "John"
```

In [ ]:
2myvar = "John"
my-var = "John"
my var = "John"

**Multi Words Variable Names**

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable.

**Camel Case**

Each word, except the first, starts with a capital letter:

> **```myVariableName = "John"```**

In [ ]:
myVariableName = "John"

**Pascal Case**

Each word starts with a capital letter:

> **```MyVariableName = "John"```**

In [ ]:
MyVariableName = "John"

**Snake Case**

Each word is separated by an underscore character:

> **```my_variable_name = "John"```**

In [ ]:
my_variable_name = "John"

#### Python Variables - Assign Multiple Values

**Many Values to Multiple Variables**

Python allows you to assign values to multiple variables in one line:

Example:

```Python
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)
```

* Note: Make sure the number of variables matches the number of values, or else you will get an error.

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

**One Value to Multiple Variables**

And you can assign the same value to multiple variables in one line:

Example

```Python
x = y = z = "Orange"
print(x)
print(y)
print(z)
```

**Unpack a Collection**

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

Example
Unpack a list:

```Python
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)
```

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

#### Python - Output Variables

**Output Variables**

The Python print() function is often used to output variables.

Example
```Python
x = "Python is awesome"
print(x)
```

In [ ]:
x = "Python is awesome"
print(x)

In the print() function, you output multiple variables, separated by a comma:

Example
```Python
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)
```

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

You can also use the + operator to output multiple variables:

Example
```Python
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)
```

* Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

For numbers, the + character works as a mathematical operator:

Example
```Python
x = 5
y = 10
print(x + y)
```

In [ ]:
x = 5
y = 10
print(x + y)

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

Example
```Python
x = 5
y = "John"
print(x + y)
```

In [ ]:
x = 5
y = "John"
print(x + y)

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

Example
```Python
x = 5
y = "John"
print(x, y)
```

In [ ]:
x = 5
y = "John"
print(x, y)

#### Python - Global Variables

**Global Variables**

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

**Example**

Create a variable outside of a function, and use it inside the function

```Python
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()
```

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

**Example**

Create a variable inside a function, with the same name as the global variable

```Python
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)
```

In [ ]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

**The global Keyword**

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

**Example**

If you use the global keyword, the variable belongs to the global scope:

```Python
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)
```

* Also, use the global keyword if you want to change a global variable inside a function.

In [ ]:
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

To change the value of a global variable inside a function, refer to the variable by using the global keyword:

```Python
x = "awesome"

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)
```

In [ ]:
x = "awesome"

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

### 4. Python Data Types

**Built-in Data Types**

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

|Python Data Types|type()|
|:--------------------|:---------------|
|Text Type:|str|
|Numeric Types:|int, float, complex|
|Sequence Types:|list, tuple, range|
|Mapping Type:|dict|
|Set Types:|set, frozenset|
|Boolean Type:|bool|
|Binary Types:|bytes, bytearray, memoryview|
|None Type:|NoneType|

**Getting the Data Type**

You can get the data type of any object by using the type() function:

**Example**

Print the data type of the variable x:

```Python
x = 5
print(type(x))
```

In [ ]:
x = 5
print(type(x))

**Characters You Can Escape**

You can use a backslash to escape the following characters.

**Setting the Data Type**

In Python, the data type is set when you assign a value to a variable:

|Example|Data Type|
|:-----------------------------------------------------|:----------------|
|x = "Hello World"|str|	
|x = 20|int|	
|x = 20.5|float|	
|x = 1j|complex|	
|x = ["apple", "banana", "cherry"]|list|	
|x = ("apple", "banana", "cherry")|tuple|	
|x = range(6)|range|	
|x = {"name" : "John", "age" : 36}|dict|	
|x = {"apple", "banana", "cherry"}|set|	
|x = frozenset({"apple", "banana", "cherry"})|frozenset|	
|x = True|bool|	
|x = b"Hello"|bytes|	
|x = bytearray(5)|bytearray|	
|x = memoryview(bytes(5))|memoryview|	
|x = None|NoneType|

In [ ]:
# Data Type Practice 1

x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Data Type Practice 2

x = 20

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Data Type Practice 3

x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Data Type Practice 4

x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Data Type Practice 5

x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Data Type Practice 6

x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Data Type Practice 7

x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Data Type Practice 8

x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Data Type Practice 9

x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Data Type Practice 10

x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Data Type Practice 11

x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Data Type Practice 12

x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Data Type Practice 13

x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Data Type Practice 14

x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Data Type Practice 15

x = None

#display x:
print(x)

#display the data type of x:
print(type(x))

**Setting the Specific Data Type**

If you want to specify the data type, you can use the following constructor functions:

|Example|Data Type|
|:--------------------------------------------------|:---------------------|
|x = str("Hello World")|str|	
|x = int(20)|int|	
|x = float(20.5)|float|	
|x = complex(1j)|complex|	
|x = list(("apple", "banana", "cherry"))|list|	
|x = tuple(("apple", "banana", "cherry"))|tuple|	
|x = range(6)|range|	
|x = dict(name="John", age=36)|dict|	
|x = set(("apple", "banana", "cherry"))|set|	
|x = frozenset(("apple", "banana", "cherry"))|frozenset|	
|x = bool(5)|bool|	
|x = bytes(5)|bytes|	
|x = bytearray(5)|bytearray|	
|x = memoryview(bytes(5))|memoryview|

In [ ]:
# Setting Specific Data Type Practice 1

x = str("Hello World")

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Setting Specific Data Type Practice 2

x = int(20)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Setting Specific Data Type Practice 3

x = float(20.5)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Setting Specific Data Type Practice 4

x = complex(1j)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Setting Specific Data Type Practice 5

x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Setting Specific Data Type Practice 6

x = tuple(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Setting Specific Data Type Practice 7

x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Setting Specific Data Type Practice 8

x = dict(name="John", age=36)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Setting Specific Data Type Practice 9

x = set(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Setting Specific Data Type Practice 10

x = frozenset(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Setting Specific Data Type Practice 11

x = bool(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Setting Specific Data Type Practice 12

x = bytes(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Setting Specific Data Type Practice 13

x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
# Setting Specific Data Type Practice 13

x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

### 5. Python Numbers

**Python Numbers**

There are three numeric types in Python:

* int
* float
* complex

Variables of numeric types are created when you assign a value to them:

Example
```Python
x = 1    # int
y = 2.8  # float
z = 1j   # complex
```

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

To verify the type of any object in Python, use the type() function:

Example
```Python
print(type(x))
print(type(y))
print(type(z))
```

In [ ]:
print(type(x))
print(type(y))
print(type(z))

**Int**

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

**Example**<br/>

Integers:

```Python
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))
```

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

**Float**

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

**Example**

Floats:

```Python
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))
```

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

Float can also be scientific numbers with an "e" to indicate the power of 10.

**Example**<br/>

Floats:

```Python
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))
```

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

**Complex**<br/>

Complex numbers are written with a "j" as the imaginary part:

**Example**<br/>

Complex:

```Python
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))
```

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

**Type Conversion**<br/>

You can convert from one type to another with the int(), float(), and complex() methods:

**Example**<br/>

Convert from one type to another:

```Python
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))
```

* Note: You cannot convert complex numbers into another number type.

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

**Random Number**<br/>

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

**Example**<br/>

```Python
Import the random module, and display a random number between 1 and 9:

import random

print(random.randrange(1, 10))
```

In [ ]:
import random

print(random.randrange(1, 10))

#### Python Casting

**Specify a Variable Type**

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

* **int()** - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
* **float()** - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
* **str()** - constructs a string from a wide variety of data types, including strings, integer literals and float literals

**Example**

Integers:

```Python
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
```

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

**Example**

Floats:

```Python
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
```

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

**Example**

Strings:

```Python
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
```

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

### 6. Python Strings

**Strings**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

**'hello'** is the same as **"hello"**.

You can display a string literal with the **print()** function:

**Example**
```Python
print("Hello")
print('Hello')
```

In [ ]:
print("Hello")
print('Hello')

**Assign String to a Variable**

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

**Example**

```Python
a = "Hello"
print(a)
```

In [ ]:
a = "Hello"
print(a)

**Multiline Strings**<br/>

You can assign a multiline string to a variable by using three quotes:

**Example**<br/>

You can use three double quotes:

```Python
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)
```

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Or three single quotes:

**Example**

```Python
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)
```

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

**Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

**Example**

Get the character at position 1 (remember that the first character has the position 0):

```Python
a = "Hello, World!"
print(a[1])
```

In [ ]:
a = "Hello, World!"
print(a[1])

**Looping Through a String**

Since strings are arrays, we can loop through the characters in a string, with a for loop.

**Example**

Loop through the letters in the word "banana":

```Python
for x in "banana":
    print(x)
```

In [ ]:
for x in "banana":
    print(x)

**String Length**

To get the length of a string, use the **len()** function.

**Example**

The **len()** function returns the length of a string:

```Python
a = "Hello, World!"
print(len(a))
```

In [ ]:
a = "Hello, World!"
print(len(a))

**Check String**

To check if a certain phrase or character is present in a string, we can use the keyword in.

**Example**

Check if "free" is present in the following text:

```Python
txt = "The best things in life are free!"
print("free" in txt)
```

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

Use it in an if statement:

**Example**

Print only if "free" is present:

```Python
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")
```

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

**Check if NOT**

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

**Example**

Check if "expensive" is NOT present in the following text:

```Python
txt = "The best things in life are free!"
print("expensive" not in txt)
```

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

Use it in an if statement:

**Example**

print only if "expensive" is NOT present:

```Python
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")
```

In [ ]:
txt = "The best things in life are free!"

if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

#### Python - Slicing Strings

**Slicing**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

**Example**

Get the characters from position 2 to position 5 (not included):

```Python
b = "Hello, World!"
print(b[2:5])
```

* Note: The first character has index 0.

In [ ]:
b = "Hello, World!"
print(b[2:5])

**Slice From the Start**

By leaving out the start index, the range will start at the first character:

**Example**

Get the characters from the start to position 5 (not included):

```Python
b = "Hello, World!"
print(b[:5])
```

In [ ]:
b = "Hello, World!"
print(b[:5])

**Slice To the End**

By leaving out the end index, the range will go to the end:

**Example**

Get the characters from position 2, and all the way to the end:

```Python
b = "Hello, World!"
print(b[2:])
```

In [ ]:
b = "Hello, World!"
print(b[2:])

**Negative Indexing**

Use negative indexes to start the slice from the end of the string:

**Example**

Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

```Python
b = "Hello, World!"
print(b[-5:-2])
```

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

#### Python - Modify Strings

**Upper Case**

**Example**

The **upper()** method returns the string in upper case:

```Python
a = "Hello, World!"
print(a.upper())
```

In [ ]:
a = "Hello, World!"
print(a.upper())

**Lower Case**

**Example**

The **lower()** method returns the string in lower case:

```Python
a = "Hello, World!"
print(a.lower())
```

In [ ]:
a = "Hello, World!"
print(a.lower())

**Remove Whitespace**

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

**Example**

The **strip()** method removes any whitespace from the beginning or the end:

```Python
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"
```

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

**Replace String**

**Example**

The **replace()** method replaces a string with another string:
    
```Python
a = "Hello, World!"
print(a.replace("H", "J"))
```

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

**Split String**

The **split()** method returns a list where the text between the specified separator becomes the list items.

**Example**

The **split()** method splits the string into substrings if it finds instances of the separator:
    
```Python
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']
```

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

#### Python - String Concatenation

**String Concatenation**

To concatenate, or combine, two strings you can use the + operator.

**Example**

Merge variable a with variable b into variable c:

```Python
a = "Hello"
b = "World"
c = a + b
print(c)
```

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

To add a space between them, add a " ":

```Python
a = "Hello"
b = "World"
c = a + " " + b
print(c)
```

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

#### String Format

**String Format**

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

**Example**

```Python
age = 36
txt = "My name is John, I am " + age
print(txt)
```

But we can combine strings and numbers by using the **format()** method!

The **format()** method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

**Example**

Use the **format()** method to insert numbers into strings:

```Python
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))
```

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

The **format()** method takes unlimited number of arguments, and are placed into the respective placeholders:

**Example**

```Python
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))
```

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

You can use index numbers **{0}** to be sure the arguments are placed in the correct placeholders:

**Example**

```Python
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))
```

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

#### Python - Escape Characters

**Escape Character**

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

**Example**

You will get an error if you use double quotes inside a string that is surrounded by double quotes:

> **```txt = "We are the so-called "Vikings" from the north."```**

To fix this problem, use the escape character \":

**Example**

The escape character allows you to use double quotes when you normally would not be allowed:

> **```txt = "We are the so-called \"Vikings\" from the north."```**

In [ ]:
txt = "We are the so-called "Vikings" from the north."

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."

**Escape Characters**
Other escape characters used in Python:

|Code|Result|
|:---------------|:--------------------------------------|
|\'|Single Quote|	
|\\|Backslash|	
|\n|New Line|	
|\r|Carriage Return|	
|\t|Tab|	
|\b|Backspace|	
|\f|Form Feed|	
|\ooo|Octal value|	
|\xhh|Hex value|

In [ ]:
# Escape Character Practice 1 - Single Quote

txt = 'It\'s alright.'
print(txt)

In [ ]:
# Escape Character Practice 2 - Single backslash

txt = "This will insert one \\ (backslash)."
print(txt)

In [7]:
# Escape Character Practice 3 - Insert New Line

txt = "Hello\nWorld!"
print(txt)

It's alright.

In [ ]:
# Escape Character Practice 4 - Carriage Return

txt = "Hello\rWorld!"
print(txt)

In [ ]:
# Escape Character Practice 5 - Tab

txt = "Hello\tWorld!"
print(txt)

In [ ]:
# Escape Character Practice 6 - BackSpace

#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

In [ ]:
# Escape Character Practice 7 - BackSpace

#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

In [ ]:
# Escape Character Practice 8 - Form Feed

x = 'hello\fworld'
print(x)

In [ ]:
# Escape Character Practice 9 - Octal Value

#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

In [ ]:
# Escape Character Practice 10 - Hex Value

#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

#### Python - String Methods

**String Methods**

Python has a set of built-in methods that you can use on strings.

* Note: All string methods returns new values. They do not change the original string.

|Method|Description|
|:-----------------|:-------------------------------------------------------------------------------------------------------|
|capitalize()|Converts the first character to upper case|
|casefold()|Converts string into lower case|
|center()|Returns a centered string|
|count()|Returns the number of times a specified value occurs in a string|
|encode()|Returns an encoded version of the string|
|endswith()|Returns true if the string ends with the specified value|
|expandtabs()|Sets the tab size of the string|
|find()|Searches the string for a specified value and returns the position of where it was found|
|format()|Formats specified values in a string|
|format_map()|Formats specified values in a string|
|index()|Searches the string for a specified value and returns the position of where it was found|
|isalnum()|Returns True if all characters in the string are alphanumeric|
|isalpha()|Returns True if all characters in the string are in the alphabet|
|isdecimal()|Returns True if all characters in the string are decimals|
|isdigit()|Returns True if all characters in the string are digits|
|isidentifier()|Returns True if the string is an identifier|
|islower()|Returns True if all characters in the string are lower case|
|isnumeric()|Returns True if all characters in the string are numeric|
|isprintable()|Returns True if all characters in the string are printable|
|isspace()|Returns True if all characters in the string are whitespaces|
|istitle()|Returns True if the string follows the rules of a title|
|isupper()|Returns True if all characters in the string are upper case|
|join()|Joins the elements of an iterable to the end of the string|
|ljust()|Returns a left justified version of the string|
|lower()|Converts a string into lower case|
|lstrip()|Returns a left trim version of the string|
|maketrans()|Returns a translation table to be used in translations|
|partition()|Returns a tuple where the string is parted into three parts|
|replace()|Returns a string where a specified value is replaced with a specified value|
|rfind()|Searches the string for a specified value and returns the last position of where it was found|
|rindex()|Searches the string for a specified value and returns the last position of where it was found|
|rjust()|Returns a right justified version of the string|
|rpartition()|Returns a tuple where the string is parted into three parts|
|rsplit()|Splits the string at the specified separator, and returns a list|
|rstrip()|Returns a right trim version of the string|
|split()|Splits the string at the specified separator, and returns a list|
|splitlines()|Splits the string at line breaks and returns a list|
|startswith()|Returns true if the string starts with the specified value|
|strip()|Returns a trimmed version of the string|
|swapcase()|Swaps cases, lower case becomes upper case and vice versa|
|title()|Converts the first character of each word to upper case|
|translate()|Returns a translated string|
|upper()|Converts a string into upper case|
|zfill()|Fills the string with a specified number of 0 values at the beginning|

### 8. Python Booleans

Booleans represent one of two values: **True** or **False**.

**Boolean Values**

In programming you often need to know if an expression is **True** or **False**.

You can evaluate any expression in Python, and get one of two answers, **True** or **False**.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

**Example**

```Python
print(10 > 9)
print(10 == 9)
print(10 < 9)
```

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

When you run a condition in an if statement, Python returns **True** or **False**:

**Example**

Print a message based on whether the condition is **True** or **False**:

```Python    
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")
```

In [ ]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

In [ ]:
**Evaluate Values and Variables**

The **bool()** function allows you to evaluate any value, and give you **True** or **False** in return,

**Example**

Evaluate a string and a number:

```Python
print(bool("Hello"))
print(bool(15))
```

In [ ]:
print(bool("Hello"))
print(bool(15))

Evaluate two variables:

```Python
x = "Hello"
y = 15

print(bool(x))
print(bool(y))
```

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

**Most Values are True**

Almost any value is evaluated to **True** if it has some sort of content.

**Any string is True, except empty strings.**

**Any number is True, except 0.**

**Any list, tuple, set, and dictionary are True, except empty ones.**

**Example**

The following will return True:

```Python
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])
```

In [ ]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

**Some Values are False**

In fact, there are not many values that evaluate to **False**, except empty values, such as **(), [], {}, ""**, the number **0**, and the value **None**. And of course the value **False** evaluates to **False**.

**Example**

The following will return **False**:

```Python
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})
```

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

One more value, or object in this case, evaluates to **False**, and that is if you have an object that is made from a class with a **__len__** function that returns **0** or **False**:

**Example**

```Python
class myclass():
    def __len__(self):
        return 0

myobj = myclass()
print(bool(myobj))
```

In [ ]:
class myclass():
    def __len__(self):
        return 0

myobj = myclass()
print(bool(myobj))

**Functions can Return a Boolean**

You can create functions that returns a Boolean Value:

**Example**

Print the answer of a function:

```Python
def myFunction() :
    return True

print(myFunction())
```

In [ ]:
def myFunction() :
    return True

print(myFunction())

You can execute code based on the Boolean answer of a function:

**Example**

Print "YES!" if the function returns True, otherwise print "NO!":

```Python
def myFunction() :
    return True

if myFunction():
    print("YES!")
else:
    print("NO!")
```

In [ ]:
def myFunction() :
    return True

if myFunction():
    print("YES!")
else:
    print("NO!")

Python also has many built-in functions that return a boolean value, like the **isinstance()** function, which can be used to determine if an object is of a certain data type:

**Example**

Check if an object is an integer or not:

```Python
x = 200
print(isinstance(x, int))
```

In [ ]:
x = 200
print(isinstance(x, int))

### 9. Python Operators

**Python Operators**

Operators are used to perform operations on variables and values.

In the example below, we use the **+** operator to add together two values:

**Example**

```Python
print(10 + 5)
```

In [ ]:
print(10 + 5)

Python divides the operators in the following groups:

+ Arithmetic operators
+ Assignment operators
+ Comparison operators
+ Logical operators
+ Identity operators
+ Membership operators
+ Bitwise operators

**Python Arithmetic Operators**

Arithmetic operators are used with numeric values to perform common mathematical operations:

|Operator|Name|Example|
|:-------|:--------------------------|:--------------------------|
|**+**|Addition|x + y|	
|**-**|Subtraction|x - y|	
|**\***|Multiplication|x * y|	
|**/**|Division|x / y|	
|**%**|Modulus|x % y|	
|**\*\***|Exponentiation|x ** y|	
|**//**|Floor division|x // y|

In [ ]:
# Arithmetic Operators practice 1 - Addition

x = 5
y = 3

print(x + y)

In [ ]:
# Arithmetic Operators practice 2 - Subtraction

x = 5
y = 3

print(x - y)

In [ ]:
# Arithmetic Operators practice 3 - Multiplication

x = 5
y = 3

print(x * y)

In [ ]:
# Arithmetic Operators practice 4 - Division

x = 12
y = 3

print(x / y)

In [ ]:
# Arithmetic Operators practice 5 - Modulus

x = 5
y = 2

print(x % y)

In [ ]:
# Arithmetic Operators practice 6 - Exponentiation

x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

In [ ]:
# Arithmetic Operators practice 7 - Floor Division

x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

**Python Assignment Operators**

Assignment operators are used to assign values to variables:

|Operator|Example|Same As|
|:-------|:--------------------------|:--------------------------|
|**=**|x = 5|x = 5|	
|**+=**|x += 3|x = x + 3|
|**-=**|x -= 3|x = x - 3|
|***=**|x *= 3|x = x * 3|
|**/=**|x /= 3|x = x / 3|
|**%=**|x %= 3|x = x % 3|
|**//=**|x //= 3|x = x // 3|
|****=**|x **= 3|x = x ** 3|
|**&=**|x &= 3|x = x & 3|
|**\|=**|x \|= 3|x = x \| 3|
|**^=**|x ^= 3|x = x ^ 3|
|**>>=**|x >>= 3|x = x >> 3|
|**<<=**|x <<= 3|x = x << 3|

In [ ]:
# Assignment Operators practice 1

x = 5

print(x)

In [ ]:
# Assignment Operators practice 2

x = 5

x += 3

print(x)

In [ ]:
# Assignment Operators practice 3

x = 5

x -= 3

print(x)

In [ ]:
# Assignment Operators practice 4

x = 5

x *= 3

print(x)

In [ ]:
# Assignment Operators practice 5

x = 5

x /= 3

print(x)

In [ ]:
# Assignment Operators practice 6

x = 5

x%=3

print(x)

In [ ]:
# Assignment Operators practice 7

x = 5

x//=3

print(x)

In [ ]:
# Assignment Operators practice 8

x = 5

x **= 3

print(x)

In [ ]:
# Assignment Operators practice 9

x = 5

x &= 3

print(x)

In [ ]:
# Assignment Operators practice 10

x = 5

x |= 3

print(x)

In [ ]:
# Assignment Operators practice 11

x = 5

x ^= 3

print(x)

In [ ]:
# Assignment Operators practice 12

x = 5

x >>= 3

print(x)

In [ ]:
# Assignment Operators practice 13

x = 5

x <<= 3

print(x)

**Python Comparison Operators**

Comparison operators are used to compare two values:

|Operator|Name|Example|
|:-------|:--------------------------|:--------------------------|
|**==**|Equal|x == y|
|**!=**|Not equal|x != y|
|**>**|Greater than|x > y|
|**<**|Less than|x < y|
|**>=**|Greater than or equal to|x >= y|
|**<=**|Less than or equal to|x <= y|

In [ ]:
# Comparison Operators practice 1

x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

In [ ]:
# Comparison Operators practice 2

x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

In [ ]:
# Comparison Operators practice 3

x = 5
y = 3

print(x > y)

# returns True because 5 is greater than 3

In [ ]:
# Comparison Operators practice 4

x = 5
y = 3

print(x < y)

# returns False because 5 is not less than 3

In [ ]:
# Comparison Operators practice 5

x = 5
y = 3

print(x >= y)

# returns True because five is greater, or equal, to 3

In [ ]:
# Comparison Operators practice 6

x = 5
y = 3

print(x <= y)

# returns False because 5 is neither less than or equal to 3

**Python Logical Operators**

Logical operators are used to combine conditional statements:

|Operator|Description|Example|
|:-------|:--------------------------|:--------------------------|
|**and**|Returns True if both statements are true|x < 5 and  x < 10|	
|**or**|Returns True if one of the statements is true|x < 5 or x < 4|	
|**not**|Reverse the result, returns False if the result is true|not(x < 5 and x < 10)|

In [ ]:
# Logical Operators practice 1

x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

In [8]:
# Logical Operators practice 2

x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

In [ ]:
# Logical Operators practice 3

x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

**Python Membership Operators**

Membership operators are used to test if a sequence is presented in an object:

|Operator|Description|Example|
|:-------|:----------------------------------------------------------------------------------|:--------------------------|
|**in**|Returns True if a sequence with the specified value is present in the object|x in y|	
|**not in**|Returns True if a sequence with the specified value is not present in the object|x not in y|

In [ ]:
# Membership Operators practice # 1

x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

In [ ]:
# Membership Operators practice # 2

x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

**Python Identity Operators**

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

|Operator|Description|Example|
|---------|:--------------------------------------------------------------------|:-------------|
|**is**|Returns True if both variables are the same object|x is y|	
|**is not**|Returns True if both variables are not the same object|x is not y|

In [ ]:
# Identity Operators practice 1

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

In [ ]:
# Identity Operators practice 2

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

**Python Bitwise Operators
Bitwise operators are used to compare (binary) numbers:

|Operator|Name|Description|
|:-------|:-----------------------|:---------------------------------------------------------------------------------------------|
|**&**|AND|Sets each bit to 1 if both bits are 1|
|**\|**|OR|Sets each bit to 1 if one of two bits is 1|
|**^**|XOR|Sets each bit to 1 if only one of two bits is 1|
|**~**|NOT|Inverts all the bits|
|**<<**|Zero fill left shift|Shift left by pushing zeros in from the right and let the leftmost bits fall off|
|**>>**|Signed right shift|Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off|

### 10. Python Lists

In [ ]:
mylist = ["apple", "banana", "cherry"]

**List**

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

**Example**

Create a List:

```Python
thislist = ["apple", "banana", "cherry"]
print(thislist)
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

**List Items**

List items are **ordered, changeable, and allow duplicate values**.

List items are indexed, the first item has index **[0]**, the second item has index **[1]** etc.

**Ordered**

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

* Note: There are some list methods that will change the order, but in general: the order of the items will not change.

**Changeable**

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

**Allow Duplicates**

Since lists are indexed, lists can have items with the same value:

**Example**

Lists allow duplicate values:

```Python    
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)
```

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

**List Length**

To determine how many items a list has, use the **len()** function:

**Example**

Print the number of items in the list:

```Python    
thislist = ["apple", "banana", "cherry"]
print(len(thislist))
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

**List Items - Data Types**

List items can be of any data type:

**Example**

String, int and boolean data types:

```Python    
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
```

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [ ]:
# A list can contain different data types:

# Example
#A list with strings, integers and boolean values:

list1 = ["abc", 34, True, 40, "male"]

**type()**

From Python's perspective, lists are defined as objects with the data type 'list':

```Python
<class 'list'>
```

In [ ]:
# What is the data type of a list?

mylist = ["apple", "banana", "cherry"]
print(type(mylist))

**The list() Constructor**

It is also possible to use the list() constructor when creating a new list.

**Example**

Using the **list()** constructor to make a List:

```Python
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)
```

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

**Python Collections (Arrays)**

There are four collection data types in the Python programming language:

* **List** is a collection which is ordered and changeable. Allows duplicate members.
* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
* **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
* **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

*Set items are unchangeable, but you can remove and/or add items whenever you like.

*As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

#### Python - Access List Items

**Access Items**

List items are indexed and you can access them by referring to the index number:

**Example**

Print the second item of the list:

```Python
thislist = ["apple", "banana", "cherry"]
print(thislist[1])
```

* Note: The first item has index 0.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

**Negative Indexing**

Negative indexing means start from the end

**-1** refers to the last item, **-2** refers to the second last item etc.

**Example**

Print the last item of the list:

```Python    
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

**Range of Indexes**

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

**Example**

Return the third, fourth, and fifth item:

```Python
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
```

* Note: The search will start at index 2 (included) and end at index 5 (not included).

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

Remember that the first item has index 0.

By leaving out the start value, the range will start at the first item:

**Example**

This example returns the items from the beginning to, but NOT including, "kiwi":

```Python    
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])
```

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

By leaving out the end value, the range will go on to the end of the list:

**Example**

This example returns the items from "cherry" to the end:

```Python    
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])
```

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

**Range of Negative Indexes**

Specify negative indexes if you want to start the search from the end of the list:

**Example**

This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

```Python    
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])
```

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

**Check if Item Exists**

To determine if a specified item is present in a list use the in keyword:

**Example**

Check if "apple" is present in the list:

```Python
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")
```

In [ ]:
thislist = ["apple", "banana", "cherry"]

if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

#### Python - Change List Items

**Change Item Value**

To change the value of a specific item, refer to the index number:

**Example**

Change the second item:

```Python
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

**Change a Range of Item Values**

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

**Example**

Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

```Python
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)
```

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

**Example**

Change the second value by replacing it with two new values:

```Python
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)
```

* Note: The length of the list will change when the number of items inserted does not match the number of items replaced.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

**Example**

Change the second and third value by replacing it with one value:

```Python
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

**Insert Items**

To insert a new list item, without replacing any of the existing values, we can use the **insert()** method.

The **insert()** method inserts an item at the specified index:

**Example**

Insert "watermelon" as the third item:

```Python
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

#### Python - Add List Items

**Append Items**

To add an item to the end of the list, use the **append()** method:

**Example**

Using the **append()** method to append an item:

```Python
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

**Insert Items**

To insert a list item at a specified index, use the **insert()** method.

The **insert()** method inserts an item at the specified index:

**Example**

Insert an item as the second position:

```Python    
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)
```

* Note: As a result of the examples above, the lists will now contain 4 items.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

**Extend List**

To append elements from another list to the current list, use the **extend()** method.

**Example**

Add the elements of tropical to thislist:
    
```Python
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)
```

* The elements will be added to the end of the list.

**Add Any Iterable**

The **extend()** method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

**Example**

Add elements of a tuple to a list:

```Python
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

#### Python - Remove List Items

**Remove Specified Item**

The **remove()** method removes the specified item.

**Example**

Remove "banana":

```Python
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

In [ ]:
**Remove Specified Index**

The **pop()** method removes the specified index.

**Example**

Remove the second item:

```Python
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)
```

* If you do not specify the index, the pop() method removes the last item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

Remove the last item:

```Python    
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

The **del** keyword also removes the specified index:

**Example**

Remove the first item:

```Python    
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

The **del** keyword can also delete the list completely.

**Example**

Delete the entire list:

```Python    
thislist = ["apple", "banana", "cherry"]
del thislist
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist

**Clear the List**

The **clear()** method empties the list.

The list still remains, but it has no content.

**Example**

Clear the list content:

```Python    
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

#### Python - Loop Lists

**Loop Through a List**

You can loop through the list items by using a for loop:

**Example**

Print all items in the list, one by one:

```Python    
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

**Loop Through the Index Numbers**

You can also loop through the list items by referring to their index number.

Use the **range()** and **len()** functions to create a suitable iterable.

**Example**

Print all items by referring to their index number:

```Python    
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

**Using a While Loop**

You can loop through the list items by using a **while loop**.

Use the **len()** function to determine the length of the list, then start at **0** and loop your way through the list items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

**Example**

Print all items, using a while loop to go through all the index numbers

```Python
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

**Looping Using List Comprehension**

List Comprehension offers the shortest syntax for looping through lists:

**Example**

A short hand for loop that will print all items in a list:

```Python    
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

#### Python - List Comprehension

**List Comprehension**

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

**Example**:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a **for** statement with a conditional test inside:

**Example**

```Python
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)
```

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

With list comprehension you can do all that with only one line of code:

**Example**

```Python
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)
```

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

**The Syntax**

> newlist = [expression for item in iterable if condition == True]

The return value is a new list, leaving the old list unchanged.

**Condition**

The condition is like a filter that only accepts the items that valuate to True.

**Example**

Only accept items that are not "apple":

```Python    
newlist = [x for x in fruits if x != "apple"]
```

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

The condition if x != "apple"  will return True for all elements other than "apple", making the new list contain all fruits except "apple".

The condition is optional and can be omitted:

**Example**

With no if statement:

```Python    
newlist = [x for x in fruits]
```

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits]

print(newlist)

**Iterable**

The iterable can be any iterable object, like a list, tuple, set etc.

**Example**

You can use the range() function to create an iterable:

```Python    
newlist = [x for x in range(10)]
```

In [ ]:
newlist = [x for x in range(10)]

print(newlist)

Same example, but with a condition:

**Example**

Accept only numbers lower than 5:

```Python    
newlist = [x for x in range(10) if x < 5]
```

In [ ]:
newlist = [x for x in range(10) if x < 5]

**Expression**

The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

**Example**

Set the values in the new list to upper case:

```Python    
newlist = [x.upper() for x in fruits]
```

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

You can set the outcome to whatever you like:

**Example**

Set all values in the new list to 'hello':

```Python    
newlist = ['hello' for x in fruits]
```

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = ['hello' for x in fruits]

print(newlist)

The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

**Example**

Return "orange" instead of "banana":

```Python    
newlist = [x if x != "banana" else "orange" for x in fruits]
```

The expression in the example above says:

"Return the item if it is not banana, if it is banana return orange".

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)

#### Python - Sort Lists

**Sort List Alphanumerically**

List objects have a **sort()** method that will sort the list alphanumerically, ascending, by default:

**Example**

Sort the list alphabetically:

```Python    
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)
```

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

In [ ]:
# Sort the list numerically:

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

**Sort Descending**

To sort descending, use the keyword argument reverse = True:

**Example**

Sort the list descending:

```Python    
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)
```

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

In [ ]:
# Sort the list descending:

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

**Customize Sort Function**

You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first):

**Example**

Sort the list based on how close the number is to 50:

```Python    
def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)
```

In [ ]:
def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

**Case Insensitive Sort**

By default the **sort()** method is case sensitive, resulting in all capital letters being sorted before lower case letters:

**Example**

Case sensitive sorting can give an unexpected result:

```Python    
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)
```

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

**Example**

Perform a case-insensitive sort of the list:

```Python    
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)
```

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

**Reverse Order**

What if you want to reverse the order of a list, regardless of the alphabet?

The **reverse()** method reverses the current sorting order of the elements.

**Example**

Reverse the order of the list items:

```Python    
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)
```

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

#### Python - Copy Lists

**Copy a List**

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method **copy()**.

**Example**

Make a copy of a list with the **copy()** method:

```Python    
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

Another way to make a copy is to use the built-in method **list()**.

**Example**

Make a copy of a list with the **list()** method:
    
```Python
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)
```

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

#### Python - Join Lists

**Join Two Lists**

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

**Example**

Join two list:

```Python    
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)
```

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

Another way to join two lists is by appending all the items from list2 into list1, one by one:

**Example**

Append list2 into list1:

```Python    
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)
```

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

Or you can use the **extend()** method, which purpose is to add elements from one list to another list:

**Example**

Use the **extend()** method to add list2 at the end of list1:

```Python    
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)
```

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

#### Python - List Methods

**List Methods**

Python has a set of built-in methods that you can use on lists.

|Method|Description|
|:-------|:----------------------------------------------------------------------------------------|
|**append()**|Adds an element at the end of the list|
|**clear()**|Removes all the elements from the list|
|**copy()**|Returns a copy of the list|
|**count()**|Returns the number of elements with the specified value|
|**extend()**|Add the elements of a list (or any iterable), to the end of the current list|
|**index()**|Returns the index of the first element with the specified value|
|**insert()**|Adds an element at the specified position|
|**pop()**|Removes the element at the specified position|
|**remove()**|Removes the item with the specified value|
|**reverse()**|Reverses the order of the list|
|**sort()**|Sorts the list|